#horas {
    width: 100px;
    height: 100px;
    font-size: 100px;
    margin-left: 70px;
}

body {
    background-image: url(../img/imagem-app-de-ponto-eletrônico.jpg);
    color: white;
    margin: auto;
}

h2 {
    margin: 0;
}

.cabecalho {
    display: flex;
    background-color: #f0f2f5;
    text-align: center;
    font-size: 14px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid black;
    border-radius: 30px;
    width: 420px;
    margin: 10px;
    margin-left: 450px;
    color: white;
    border-color: white;
    height: 40px;
    padding-top: 15px;
    padding-left: 80px;
}

.cabecalho2 {
    display: flex;
    background-color: #f0f2f5;
    font-size: 14px;
    align-items: center;
    padding-left: 150px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid black;
    border-radius: 30px;
    width: 400px;
    margin: 10px;
    margin-left: 390px;
    color: white;
    border-color: white;
    height: 80px;
}

h3,
p {
    text-align: center;
}

.registros {
    text-align: center;
}

.almoco {
    display: flex;
    padding-left: 500px;
}

.tudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#batida1,
#batida2,
#batida3,
#batida4 {
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    border-color: rgb(177, 172, 172);
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 30px;
    border-color: rgb(177, 172, 172);
    border: 1px solid black;
    width: 97px;
}

#bater {
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bater:hover {
    cursor: pointer;
}

.image {
    width: 500px;
}

.registros {
    display: flex;
    justify-content: space-between;
}

.horario,
.almoco_entrada,
.almoco_retorno,
.saida {
    background-color: #ffffff;
    color: black;
    width: 300px;
    height: 150px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 30px;
    margin-top: 100px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto_login {
    margin-left: 100px;
    padding-top: 10px;
}

.usuario {
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 30px;
    border-color: rgb(177, 172, 172);
    border: 1px solid black;
}

.senha {
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 30px;
    border-color: rgb(177, 172, 172);
    border-style: ridge;
    border: 1px solid black;
}

.entrar {
    margin-right: 100px;
    margin-left: 100px;
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border: 0px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bater:hover {
    background-color: rgb(177, 202, 178);
    color: blue;
    cursor: pointer;
    border: 1px;
    transition-duration: 0.4s;
}

.rodape {
    display: flex;
    background-color: #f0f2f5;
    text-align: center;
    font-size: 14px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid black;
    border-radius: 30px;
    width: 420px;
    margin: 10px;
    margin-left: 450px;
    color: white;
    border-color: white;
    height: 40px;
    padding-top: 15px;
    padding-left: 80px;
}

.link {
    color: white;
}

footer:hover {
    background-color: cyan;
}

.link:hover {
    color: black;
}

#sair {
    background-color: red;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.pdf_imprimir {
    background-color: green;
    color: white;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 450px;
    border: none;
    border-radius: 10px;
}

@media(max-width: 430px) {
    .cabecalho,
    .cabecalho2 {
        display: contents;
    }
    body {
        width: 100vw;
        height: 100vh;
    }
    h1 {
        width: 350px;
        font-size: 20px;
        text-align: center;
    }
    .atualizando {
        display: none;
    }
    .nome {
        border: 1px solid white;
        border-radius: 15px;
        width: 370px;
    }
    hr {
        width: 100px;
    }
    .container {
        position: fixed;
    }
    .login {
        width: 350px;
        margin-bottom: 330px;
    }
    .tudo {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .registros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image {
        width: 350px;
    }
    .imagem {
        display: flex;
        padding-top: 260px;
    }
    .hora_imagem {
        width: 100%;
        text-align: center;
    }
    #horas {
        font-size: 70px;
    }
    .rodape {
        display: contents;
    }
    .nome_rodape {
        border: 1px solid white;
        border-radius: 15px;
        width: 370px;
    }
    .pdf_imprimir {
        margin-left: 0%;
        width: 198px;
        margin: 58px;
        height: 30px;
    }
}
